main {
  display: flex;
  padding-bottom: 0;
}

/* .mobile-back-menu {
  width: 100%;
  background-color: var(--gray-btn);
  height: 45px;
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 50;
}
.mobile-back-menu .container {
  align-items: center;
  justify-content: space-between;
}

.mobile-back-menu .user {
  line-height: 1;
}

.mobile-back-menu .menu-user {
  width: 40px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.mobile-back-menu .fa-bars {
  color: var(--blue-btn);
  font-size: 16px;
  line-height: 45px;
  height: 45px;
  width: 50%;
  margin: 0 auto;
  display: inline-block;
}

.mobile-back-menu .user span {
  vertical-align: middle;
  letter-spacing: 1.5px;
}

.mobile-back-menu .dropdown {
  position: relative;
}

.mobile-back-menu .dropdown .item span {
  background-color: #fff;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  margin-right: 5px;
}

.mobile-back-menu .dropdown ul {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  border-radius: 5px;
  background-color: #dcedf4;
  padding: 5px;
}

.mobile-back-menu .dropdown ul li {
  padding: 5px;
  text-align: center;
} */
.back-main {
  width: calc(100vw - 280px);
  height: calc(100vh - 110px);
  overflow: auto;
}

.back-content {
  /* width: calc(100vw - 280px); */
  max-width: calc(50vw + 380px);
  min-height:calc(100vh - 291px);
  /* padding-left: 30px; */
  /* padding-right: var(--bs-gutter-x, 0.75rem); */
  /* padding-bottom: 110px; */
  padding: 0;
}

.back-main::-webkit-scrollbar {
  display: none;
}

.back-content .breadcrumb {
  margin-top: 0;
  padding-top: 17px;
  margin-left: var(--bs-gutter-x, -0.75rem);
}

.back-content .back-title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
}

.back-content > div {
  width: 100%;
}

.back-content {
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-bottom: 110px;
}

.bm-box {
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  overflow: hidden;
  height: 95%;
}

.chart-box {
  padding: 20px 25px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.chart-box .vs-box {
  height: calc(100% - 25px);
}

.chart-box .vp-box {
  padding: 15px 50px;
}

.chart-box h4 {
  font-size: 18px;
  font-weight: 700;
}

.back-table .bm-box div {
  padding: 0 30px;
}

.back-mobile-table .bm-box {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
  height: auto;
}

.back-mobile-table .bm-box:last-child {
  margin-bottom: 0;
}

.back-table.blue-table .bm-box div.title-col {
  background-color: #d5d9df;
}

.back-table.yellow-table .bm-box div.title-col {
  background-color: #f8e3c9;
}

.back-mobile-table.yellow-table .bm-title {
  background-color: #f8e3c9;
}

.back-mobile-table.blue-table .bm-title {
  background-color: #d5d9df;
}

.back-table .bm-box div.title-col span {
  font-weight: 700;
  font-size: 18px;
}

.back-table .bm-box .bm {
  padding: 0 30px;
}

.back-mobile-table .bm-box .bm:nth-child(even) .bm-content {
  background-color: #f9f9f9;
}

.back-table .bm-box .bm .inner {
  border-bottom: 1px solid #eceef1;
  padding: 20px 0;
}

.back-table .bm-box .bm:first-child .inner {
  border-bottom: 0;
}

.back-table .bm-box .bm:last-child .inner {
  border-bottom: 0;
}

.back-table .bm-box .bm .inner > span {
  padding-right: 15px;
  display: block;
  word-wrap: break-word;
  word-break: break-all;
}

.back-table.contract-table .bm-box .bm .inner span.number {
  width: 20%;
}

.back-table.contract-table .bm-box .bm .inner span.name {
  width: 50%;
}

.back-table.contract-table .bm-box .bm .inner span.name p {
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin: 0;
}

.back-table.contract-table .bm-box .bm .inner span.value {
  width: 30%;
}

.back-mobile-table {
  display: none;
}

.back-table.asset-table .bm-box .bm .inner span.ref-name {
  width: 13%;
}

.back-table.asset-table .bm-box .bm .inner span.stock-name {
  width: 15%;
}

.back-table.asset-table .bm-box .bm .inner span.date {
  width: 15%;
}

.back-table.asset-table .bm-box .bm .inner span.number {
  width: 17%;
}

.back-table.asset-table .bm-box .bm .inner span.money {
  width: 20%;
  text-align: right;
}

.back-table.asset-table .bm-box .bm .inner span.trans-btn {
  width: 20%;
}

.back-table.asset-table .bm-box .bm .inner span.trans-btn button {
  margin: 0 auto;
}

.back-table.asset-table .bm-box .bm .inner span.trans-btn button a {
  padding: 10px 15px;
}

.back-mobile-table .bm {
  height: 60px;
}

.back-mobile-table.asset-table .bm.dollar {
  height: 100px;
}

.back-mobile-table .bm .bm-title {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-align: center;
  height: 100%;
}

.back-mobile-table .bm .bm-content {
  width: calc(100% - 150px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.back-mobile-table.asset-table .bm.dollar .bm-content span {
  width: 100%;
}

.back-mobile-table.asset-table .bm.dollar .bm-content button {
  margin: 10px auto 0;
}

.back-mobile-table.asset-table .bm.dollar .bm-content button a {
  padding: 5px 10px;
}

.back-table.detail-table .bm-box .bm .inner span.date {
  width: 14%;
}

.back-table.detail-table .bm-box .bm .inner span.name {
  width: 18%;
}

.back-table.detail-table .bm-box .bm .inner span.type {
  width: 18%;
}

.back-table.detail-table .bm-box .bm .inner span.money {
  width: 25%;
  text-align: right;
}

.back-table.detail-table .bm-box .bm .inner span.stock {
  width: 25%;
  text-align: right;
}

.back-balance {
  width: 250px;
  margin: 70px auto 0;
}

.alert-box {
  margin-top: 75px !important;
}

.alert-box .bm-box {
  width: 100%;
  padding: 20px 25px;
}

.alert-box h5 {
  color: var(--blue-btn);
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 17px;
}

.alert-box p {
  margin-bottom: 0;
}

.contract-name {
  color: var(--blue-btn);
  margin-bottom: 40px;
}

.detail-form {
  width: 100%;
  padding: 15px 0;
  border-radius: 100px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.detail-form .df {
  border-right: 1px solid #e4e4e4;
  padding: 8px 10px;
}

.detail-form .df.df-title {
  width: 20%;
}

.detail-form .df-title label {
  text-align: center;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.detail-form .btn-box {
  border: 0;
  padding: 0 10px;
}

.detail-form .df img.select-icon {
  width: 20px;
  margin-right: 15px;
}

.detail-form .df img.arrow {
  width: 8px;
  transform: rotate(90deg);
}

.detail-form .classification {
  width: 16%;
  cursor: pointer;
  position: relative;
}

.detail-form .classification .select-box span {
  width: calc(100% - 50px);
  color: var(--orange-btn);
}

.detail-form .classification .sb {
  position: absolute;
  padding: 8px 0;
  width: 100%;
  left: 0;
  top: 40px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 10;
}

.detail-form .classification .sb .select-box {
  padding: 8px 10px;
}

.detail-form .classification .sb .select-box img.arrow {
  opacity: 0;
}

.detail-form #classification {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  color: var(--orange-btn);
  margin-right: 3px;
  outline: none;
  width: calc(100% - 15px);
}

.detail-form .date-select {
  position: relative;
}

.detail-form .start-date {
  width: 25%;
}

.detail-form .end-date {
  width: 25%;
}

.detail-form .daterange {
  border: 0;
  background-color: transparent;
  color: var(--orange-btn);
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 40px;
}

.detail-form .btn-box {
  width: 14%;
  height: 100%;
}

.detail-form .btn-box button {
  width: 100%;
  height: 100%;
  padding: 15px 0;
  background-color: #f2a346;
  color: #fff;
  border-radius: 100px;
  display: block;
}

/* download */
.download-box {
  display: flex;
  align-items: center;
  justify-content: start;
}
.download-box .select-box {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--blue-btn);
  width: 350px;
  background-color: #fff;
  margin-right: 10px;
}

.download-box .select-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  margin-right: 3px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.download-box .select-box img.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 8px;
}

.download-box button {
  background-color: var(--blue-btn);
  color: #fff;
  padding: 12px 85px;
  border-radius: 10px;
}

/* apply */
.apply-box .pdf-box {
  width: 100%;
  height: calc(100vh - 200px);
  padding: 30px 15px 20px;
  background-color: var(--gray-btn);
  border-radius: 30px;
  margin-bottom: 30px;
}

.apply-box .pdf-box #sidebarToggle {
  display: none;
}

.apply-box .pdf-box .toolbarButtonSpacer {
  display: none;
}

.apply-box .pdf-box #toolbarViewerRight {
  display: none;
}

.apply-box .pdf-box #toolbarViewerMiddle {
  left: inherit;
  transform: none;
  right: 0;
}

.apply-box .agree-box {
  margin: 0 auto 50px;
  line-height: 1;
  text-align: center;
  cursor: auto;
  position: relative;
}

.apply-box .agree-box .check-box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.apply-box .agree-box .check-box.active svg {
  opacity: 1;
}

.apply-box .agree-box .check-box svg {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}

.apply-box .agree-box .check-box svg path {
  fill: var(--orange-btn);
}

.apply-box .agree-box span {
  margin-bottom: 0;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

/* chart */
.pr {
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  position: relative;
}

.pr #proportionReport {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.vp {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
}

.vp #valueProportion {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.vs {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  position: relative;
}

.vs #valueStatistics {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.grid {
  width: 100%;
  height: 100%;
}

.pn {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  position: relative;
}

.pn #peopleNum {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pl {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  position: relative;
}

.pl #peopleLength {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* chart popup */
.PR-popup {
  background-color: #fff;
  /* box-shadow: 0 1px 10px rgba(0,0,0,0.15); */
  padding: 10px;
width: 100%;
/* text-align: center; */
border-radius: 10px;
background-color: rgb(255, 247, 236);
margin-top: 15px;
color: #333;
line-height: 1;
display: none;
margin-bottom: 10px;
}

.PR-popup h5 {
  font-weight: 900;
  font-size: 18px;
  color: rgb(248, 141, 18);
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}

.PR-popup span {
  display: inline-block;
  margin: 0 10px;
  color: rgb(185, 185, 185);
}

.PR-popup p {
  letter-spacing: 1.2px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

/* footer */
footer {
  padding: 0 30px;
}
footer .inner {
  align-items: flex-end;
}
footer .left-box {
  width: 50%;
}

footer .left-box p {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
}

footer .copy-right {
  width: 50%;
}

footer .copy-right img {
  display: block;
  margin-left: auto;
}


@media screen and (min-width: 992px) {
  .back-content {
    max-width: calc(50vw + 200px);
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .back-content {
    max-width: calc(50vw + 290px);
  }
}

@media screen and (min-width: 1400px) {
  .back-content {
    max-width: calc(50vw + 380px);
  }
}

/* RWD-Pad */
@media screen and (max-width: 1019px) {
  .back-table .bm-box div.title-col span {
    font-size: 16px;
  }
  .back-table.asset-table .bm-box .bm .inner span.trans-btn button a {
    padding: 10px 5px;
  }
  nav.sub-header {
    display: none;
  }
  .mobile-back-menu {
    display: block;
  }

  .outer-menu {
    min-height: calc(100vh - 60px);
    height: 100%;
    overflow: auto;
    /* z-index: 10; */
    transition: 0.3s;
    padding: 20px 0 0;
  }
  .back-menu.active {
    top: 105px;
  }
  .back-main {
    /* padding-bottom: 20px; */
    width: 100%;
    height: calc(100vh - 60px);
  }
  .back-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    min-height:calc(100vh - 241px);
  }
  .back-main.detail-main .container {
    max-width: 1000px;
  }
  .back-menu .relative-link {
    display: block;
  }
  .alert-box {
    margin-top: 20px !important;
  }
  .contract-value {
    margin: 0;
  }
  .back-balance {
    margin-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .pr {
    padding-bottom: 90%;
  }
  .alert-box .bm-box {
    box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  }
}

@media screen and (max-width: 990px) {
  .apply-box .pdf-box #toolbarViewerMiddle {
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 60px;
  }
  .back-menu {
    width: 100%;
  }
  .back-content {
  min-height:calc(100vh - 332px);
  padding-bottom: 50px;
  }

  .back-table .bm-box .bm {
    padding: 0 15px;
  }
  
  .back-menu .account-box .btn-box {
    border-color: #fff;
  }
  .back-menu .account-box .btn-box button {
    display: none;
  }
  
  .back-table {
    display: none;
  }
  .back-mobile-table {
    display: block;
  }
  .download-box {
    display: block;
  }
  .download-box .select-box {
    width: 80%;
    margin: 0 auto 20px;
    display: block;
  }
  .download-box button {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
  }
  .detail-form {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .detail-form .df {
    border: 0;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    padding: 0 20px;
    height: 64px;
    display: flex;
    align-items: center;
  }
  .detail-form .df.df-title {
    background-color: transparent;
    box-shadow: none;
    padding: 10px 0 0;
    height: auto;
    width: 100%;
  }
  .detail-form .classification {
    width: 100%;
  }
  .detail-form .classification .select-box {
    width: 100%;
  }
  .detail-form .classification .select-box span {
    text-align: center;
  }
  .detail-form .daterange {
    text-align: center;
  }
  .detail-form .btn-box {
    background-color: transparent;
    box-shadow: none;
    padding: 10px 0 0;
  }
  .back-balance {
    margin: 20px auto 0;
  }
  .alert-box {
    margin-top: 20px !important;
  }
  footer .inner {
    display: block;
  }
  footer .left-box {
    width: 100%;
  }
  footer .copy-right {
    width: 100%;
  }
  footer img {
    display: block;
    margin: 0 auto 20px;
  }
  footer .left-box p {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  .back-content {
    max-width: 100%;
    width: 100%;
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .download-box {
    flex-wrap: wrap;
  }
  /* .download-box .select-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .download-box button {
    width: 100%;
  } */
  .back-mobile-table .bm .bm-title {
    width: 120px;
  }
  .back-mobile-table .bm .bm-content {
    width: calc(100% - 120px);
  }
}

@media screen and (max-width: 500px) {
  .pr {
    padding-bottom: 100%;
  }
  .vs .xAxis text {
    font-size: 10px;
  }
  .vs .yAxis text {
    font-size: 10px;
  }
  .pn .xAxis text {
    font-size: 10px;
  }
  .pn .yAxis text {
    font-size: 10px;
  }
  .pl .xAxis text {
    font-size: 10px;
  }
  .pl .yAxis text {
    font-size: 10px;
  }
  #mainContainer {
    min-width: auto;
  }
}

@media screen and (max-width: 400px) {
  .vs .xAxis text {
    font-size: 10px;
    transform: rotate(-15deg);
  }
  .pn .xAxis text {
    font-size: 10px;
    transform: rotate(-15deg);
  }
  .pl .xAxis text {
    font-size: 10px;
    transform: rotate(-15deg);
  }
  .chart-box {
    padding: 20px 10px;
  }
  .vp {
    padding-bottom: 100%;
  }
  .detail-form {
    padding: 15px 10px;
  }
  .detail-form .daterange {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .pr {
    /* padding-bottom: 180%; */
  }
  .pr-data {
    font-size: 10px;
  }
  .pr .yAxis text {
    font-size: 10px;
  }
  .pr .xAxis text {
    font-size: 10px;
  }
  .detail-form .start-date {
    width: 100%;
    border: 0;
  }
  .detail-form .end-date {
    width: 100%;
  }
}