:root {
    --bg-color:#fafafa;
    --title-color:#333333;
    --content-color:#4d4d4d;
    --blue-btn:#2d4161;
    --orange-btn:#ef8200;
    --gray-btn:#dcdcdc;
    --gray-text-btn:#999999;
    --line-color:#b3bbc6;
    --main-shadow:7px 7px 5px rgba(0,0,0,0.5);
}