/* mobile menu */
.outer-menu {
  /* display: none; */
  position: fixed;
  top: 110px;
  left: -280px;
  z-index: 50;
  height: calc(100vh - 110px);
}

.back-menu {
  overflow-y: auto;
}

.outer-menu .relative-link {
  display: block;
  padding-top: 40px;
}

/* home */
/* banner */
.banner {
  position: relative;
}

.banner .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  position: relative;
}

.banner .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.banner .swiper-pagination-bullet {
  background-color: var(--gray-btn);
  opacity: 1;
}

.banner .swiper-pagination-bullet-active {
  background-color: var(--blue-btn);
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  max-width: none;
}

.banner .arrow {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.banner .arrow.Bprev {
  left: calc(50vw - 65px);
}

.banner .arrow.Bnext {
  right: calc(50vw - 65px);
}

.banner .arrow.Bprev img {
  transform: scale(-1);
}

.banner .arrow img {
  width: 5px;
  display: block;
  margin: 6px auto;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 15vw;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 15;
  padding-top: 45px;
  padding-bottom: 45px;
}

/* login */
.login-box h5 {
  text-align: center;
  color: var(--blue-btn);
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
}

.login-box button {
  border-radius: 8px;
  background-color: var(--blue-btn);
  display: block;
  margin: 15px auto;
}

.login-box button a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  line-height: 18px;
}

.login-box button a img {
  display: inline-block;
  vertical-align: middle;
}

.login-box button a img.login-icon {
  width: 15px;
  margin-right: 15px;
}

.login-box button a img.login-arrow {
  width: 10px;
  margin-left: 20px;
}

.login-box button a span {
  font-size: 18px;
  vertical-align: middle;
}

.mobile-login {
  display: none;
  position: static;
  transform: none;
  width: 100%;
  max-width: 400px;
  margin: 40px auto 0;
}

/* activity */
.activity-box {
  position: relative;
}

.activity-box .white-shadow {
  width: 18%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
}

.activity-box .white-shadow.ws-left {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(2555, 255, 255, 0)
  );
  background: -o-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(2555, 255, 255, 0)
  );
  background: -moz-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(2555, 255, 255, 0)
  );
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(2555, 255, 255, 0)
  );
  left: 0;
}

.activity-box .white-shadow.ws-right {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(2555, 255, 255, 0)
  );
  background: -o-linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(2555, 255, 255, 0)
  );
  background: -moz-linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(2555, 255, 255, 0)
  );
  background: -webkit-linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(2555, 255, 255, 0)
  );
  right: 0;
}

.activity-box .white-box {
    width:19.5%;
    height:160px;
    background-color: var(--bg-color);
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.activity-box .white-box.wb-left {
  left: 0;
}

.activity-box .white-box.wb-right {
  right: 0;
}

.acti-link .acti-inner {
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
}

.acti-link:hover .acti-pic {
  transform: scale(1.2);
}

.acti-link:hover .acti-inner {
  border: 2px solid var(--blue-btn);
}

.acti {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  margin-bottom: 15px;
  position: relative;
}

.acti-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.activity .duration {
  color: var(--orange-btn);
  font-size: 15px;
  margin-bottom: 15px;
  padding: 0 10px;
}

.activity .acti-title {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  color: var(--title-color);
  line-height: 1.4;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 0 10px;
}

.activity .content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 50px;
  padding: 0 10px;
}

.activity .arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0,0,0,0.4);
    position: absolute;
    top: 20%;
    z-index: 20;
    background-color: #fff;
    cursor: pointer;
}

.activity .arrow.Aprev {
    left: 17.8vw;
}

.activity .arrow.Anext {
    right: 17.8vw;
}

.activity .arrow img {
    width: 8px;
    display: block;
    margin: 15px auto;
}

.activity .arrow.Aprev img {
    transform: scale(-1);
}

.activity-mobile {
  display: none;
}

.activity .activity-mobile .acti-title {
  height: auto;
}

/* new */
.new .title {
  display: inline-block;
}

.new .tab-box {
  display: inline-block;
  float: right;
}

.new .tab-box button {
  color: #999999;
  padding: 10px 15px;
  background-color: #F5F5F5;
  border-radius: 8px;
  font-weight: 700;
  margin: 0 6px;
  border: 1px solid transparent;
  position: relative;
  margin-bottom: 29px;
}

.new .tab-box button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--orange-btn);
  left: 0;
  bottom: -24px;
  display: none;
}

.new .tab-box button.active {
  background-color: transparent;
  border-color: var(--orange-btn);
  color: var(--orange-btn);
}

.new .tab-box button.active::after {
  display: block;
}

.new-content {
  padding: 18px 0;
  display: block;
  border-top: 1px solid #EDEDED;
}

.new-content.new-ad {
  display: block;
}

.new-content .nc {
  padding: 18px 20px 18px 35px;
}

.new-content .nc .date {
  width: 20%;
  font-size: 18px;
}

.new-content .nc .date.mobile-date {
  display: none;
}

.new-content .nc .content {
  width: 75%;
  font-size: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.new-content .nc img {
  width: 10px;
}

/* reccomand */
.reccomand .recc-pic {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  position: relative;
}
.reccomand .pic-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
.reccomand .recc-pic:hover .pic-box {
  transform: scale(1.2);
}

/* new */
.new-banner {
  width: 100%;
  height: 0;
  padding-bottom:27%;
  background-image: url(../img/pic_bn_articleList.png);
}

/* article */
.article-banner {
  width: 100%;
  height: 0;
  padding-bottom: 32.5%;
  background-image: url(../img/pic_article_top_bn.png);
}

.article-box {
  background-color: #fff;
  border-radius: 10px;
  margin-top: -18vw;
  padding: 40px 110px;
}

.article-box h1 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 900;
}

.article-box .detail {
  margin-top: 75px;
}

.article-box .detail .date {
  color: var(--gray-text-btn);
}

.article-box .detail .share span {
  color: var(--gray-text-btn);
  margin-right: 5px;
}

.article-box .detail .share i {
  color: #686868;
  font-size: 20px;
  margin: 0 7px;
}

.article-box .content {
  margin-top: 60px;
}

.article-box .content img {
  max-width: 100%;
  display: block;
  margin: 50px auto;
}

.article-box .back-home {
  margin-top: 80px;
}

/* login */
.login-bg {
  padding: 50px 0 100px;
  width: 100%;
  background-image: url(../img/pic_bn_login.png);
  /* margin-bottom: -145px; */
}
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 900; 
  color: var(--title-color);
}

.login-form form .form-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DBD4D6;
  border-radius: 10px;
  background-color: #fff;
  height: 50px;
  margin-bottom: 20px;
}

.login-form form .form-box label {
  width: 60px;
  position: relative;
}

.login-form form .form-box label::before {
  height: 25px;
  width: 1px;
  background-color: #acacac;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.login-form form .form-box label img {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.login-form form .form-box.fb-password label img {
  width: 40%;
}

.login-form form .form-box input {
  outline: none;
  border: 0;
  border-radius: 0 10px 10px 0;
  height: 100%;
  width: calc(100% - 75px);
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--blue-btn);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-form form .cert-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form form .cert-box .form-box {
  width: 70%;
  margin-bottom: 0;
}

.login-form form .cert-box>div:nth-child(2) {
  width: calc(30% - 33px);
  background-color: rgb(163, 163, 163);
  color: #fff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 0.5rem;
}

.login-form form .cert-box img {
  width: 13px;
}

.login-form form button {
  width: 100%;
  margin: 30px 0 20px;
  padding: 0;
}

.login-form form .forget {
  text-align: center;
  color: var(--blue-btn);
  display: block;
  font-weight: 700;
}

/* footer */
footer .container > div:first-child {
  border-bottom: 1px solid #fff;
}

footer nav ul {
  text-align: right;
}

footer nav ul li {
  display: inline-block;
  font-size: 14px;
}

footer nav ul li a {
  padding: 0 10px;
  position: relative;
}

footer nav ul li a:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #000;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

footer nav ul li:last-child a:after {
  display: none;
}

footer .copy-right {
  text-align: right;
}

footer .copy-right p {
  font-size: 14px;
  margin: 0;
  display: inline-block;
}

footer .copy-right p.copyright-mobile {
  display: none;
}



/* RWD-web */
@media screen and (max-width:1019px) {
  main {
    padding-top: 60px;
  }
  .login-box {
    left: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login-box h5 {
    margin-bottom: 20px;
  }
  .activity .duration {
    font-size: 13px;
  }
  .activity-box .white-box {
    width: 25%;
  }
  .activity-box .white-shadow {
    width: 25%;
  }
  .article-box {
    width: 80%;
  }
  .article-box .back-home {
    margin: 30px auto;
  }
  .new .tab-box button {
    /* margin-bottom: 0; */
  }
  .new .tab-box button {
    color: #000;
    background-color: transparent;
  }
  .new .tab-box button.active {
    background-color: #fff;
  }
}

/* RWD-Pad */
@media screen and (max-width:1019px) {
  .outer-menu {
    top: 60px;
    height: calc(100vh - 60px);
  }
  .activity-box .white-shadow {
    display: none;
    width: 7%;
  }
  .activity-box .white-box {
    width: 7%;
  }
  .acti-pic {
    position: relative;
  }
  .acti-pic::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
  }
  .activity-box .swiper-slide.swiper-slide-prev .acti-pic::after {
    display: none;
  }
  .activity-box .swiper-slide.swiper-slide-active .acti-pic::after {
    display: none;
  }
  .activity-box .swiper-slide.swiper-slide-next .acti-pic::after {
    display: none;
  }
  .activity .arrow.Aprev {
    left: 4.5vw;
  }
  .activity .arrow.Anext {
    right: 4.5vw;
  }
  .reccomand .pic-box {
    margin-bottom: 20px;
  }
  .article-box h1 {
    font-size: 2rem;
  }
  .article-box .detail {
    margin-top: 37px;
  }
  .article-box .content {
    margin-top: 30px;
  }
}

@media screen and (max-width:992px) {
  .new-content .nc {
    padding: 18px 15px;
  }
  .article-box {
    padding: 40px;
  }
}


/* RWD-phone */
@media screen and (max-width:767px) {
  .outer-menu {
    left: -100%;
  }
  #banner {
    padding-bottom: 40px;
  }
  .banner .swiper-wrapper .swiper-slide {
    padding-bottom: 60%;
  }
  .banner .arrow {
    display: none;
  }
  .login-box {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
  }
  .login-box h5 {
    margin-bottom: 30px;
  }
  .banner .login-box {
    display: none;
  }
  .mobile-login {
    display: block;
  }
  .activity-box {
    display: none;
  }
  .activity-mobile {
    display: block;
  }
  .activity-box .white-box {
    display: none;
  }
  .activity-box .white-shadow {
    display: none;
  }
  .activity .arrow {
    display: none;
  }
  .article-banner {
    padding-bottom: 65%;
  }
  .acti-pic::after {
    display: none;
  }
  .article-box {
    padding: 16px 20px;
    width: 90%;
  }
  .article-box h1 {
    margin-top: 25px;
    font-size: 1.2rem;
  }
  .article-box .detail {
    margin-top: 25px;
  }
  .article-box .content {
    margin-top: 30px;
  }
  .login-form {
    width: 80%;
  }
  .new-banner {
    padding-bottom: 55%;
  }
  .new .tab-box {
    display: block;
    margin: 0 auto;
    float: unset;
    text-align: right;
  }
  .new .tab-box button {
    margin-bottom: 23px;
  }
  .new-content .nc {
    padding: 10px 15px;
  }
  footer .logo {
    display: block;
    margin: 0 auto;
  }
  footer nav {
    margin-top: 30px;
  }
  footer nav ul {
    text-align: center;
  }
  footer nav ul li {
    width: 100%;
    margin-bottom: 8px;
    padding: 0 10px;
  }
  footer nav ul li a {
    padding: 0;
  }
  footer nav ul li a:after {
    display: none;
  }
  footer .container > div:first-child {
    border: 0;
  }
  footer .copy-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .copy-right p.copyright-web {
    display: none;
  }
  footer .copy-right p.copyright-mobile {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}


@media screen and (max-width:576px) {
  
  .new-content .nc .date {
    font-size: 16px;
    width: 90px;
  }
  .new-content .nc .date.web-date {
    display: none;
  }
  .new-content .nc .date.mobile-date {
    display: block;
  }
  .new-content .nc .content {
    width: calc(100% - 120px);
  }
  .article-box {
    width: 90%;
  }
}

@media screen and (max-width:400px) {
  .mobile-login {
    width: 90%;
  }
  .new-content .nc .date {
    font-size: 14px;
  }
  .new-content .nc {
    padding: 18px 0;
  }
  .new .tab-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .new .tab-box button {
    margin: 0 0 23px;
    width: 30%;
    padding: 10px 0;
  }
  /* .login-form {
    padding: 0 15px;
  } */
}

@media screen and (max-width:320px) {
  .login-box button a {
    padding: 15px 10px;
  }
  .login-box button a img.login-icon {
    margin-right: 10px;
  }
  .activity .duration {
    font-size: 10px;
  }
  .new .tab-box button {
    font-size: 14px;
  }
}