@font-face {
  font-family: "awesomefont";
  src: url(../css/fontawesome/webfonts/fa-solid-900.woff2),url(../css/fontawesome/webfonts/fa-solid-900.woff),url(../css/webfonts/fa-solid-900.ttf);
}

body {
  color: #000;
  font-family: "微軟正黑體", "黑體-繁", "helvetica", "Arial", sans-serif;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--content-color);
}

a:hover {
  text-decoration: none;
  color: var(--content-color);
}

button {
  border: 0;
  background-color: transparent;
}

.flex-style {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-mt {
  margin-top: 80px;
}

.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 40px;
}

/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
}

.main-header {
  width: 100%;
  background-color: var(--blue-btn);
  height: 65px;
}

.main-header .container {
  height: 100%;
}

.main-header .container > div {
  width: 100%;
  height: 100%;
}

.main-header .logo {
  display: block;
}

.main-header .logo img {
  height: 28px;
  width: auto;
}

.main-header nav.main-nav {
  display: inline-block;
}

.main-header nav.main-nav ul li {
  display: inline-block;
}

.main-header nav.main-nav ul li a {
  color: #fff;
  font-size: 16px;
}

.main-header .search {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.menu-icon {
  width: 21px;
  height: 16px;
  position: relative;
  transition: 0.3s;
  display: none;
}

.menu-icon .bar {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  transition: 0.5s;
}

.menu-icon .top-bar {
  top: 0;
}

.menu-icon .middle-bar {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon .bottom-bar {
  bottom: 0;
}

.menu-icon.active .top-bar {
  transform: rotate(45deg);
  top: 10px;
}

.menu-icon.active .middle-bar {
  opacity: 0;
}

.menu-icon.active .bottom-bar {
  transform: rotate(-45deg);
  top: 10px;
}

nav.sub-header {
  background-color: var(--bg-color);
  height: 45px;
}

nav.sub-header .container {
  height: 100%;
}

nav.sub-header > div > ul {
  justify-content: center;
  height: 100%;
  position: relative;
}

nav.sub-header > div > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

nav.sub-header > div > ul > li.drop-down:hover::after {
  opacity: 1;
}

nav.sub-header > div > ul > li.drop-down:hover .second-menu {
  display: flex;
}

nav.sub-header > div > ul > li > a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  /* display: block; */
  /* height: 100%; */
}

nav.sub-header > div > ul > li.drop-down:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent indianred transparent;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.second-menu {
  position: absolute;
  display: flex;
  top: 45px;
  width: 90vw;
  left: 50%;
  transform: translateX(-50%);
  align-items: start;
  border-top: 5px solid indianred;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: none;
  background-color: #fff;
}

.second-menu > li {
  border-right: 1px solid #e0e0e0;
  height: 100%;
}

.second-menu > li:last-child {
  border-right: 0;
}

.second-menu h5 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.second-menu ul > li {
  margin-bottom: 10px;
}

.mobile-menu {
  display: none;
  position: fixed;
  height: calc(100vh - 60px);
  top: 60px;
  left: 0;
  width: 100%;
  overflow: auto;
  background-color: #fff;
  z-index: 30001;
  padding: 0 15px;
}

.mobile-menu .main-menu {
  width: 100%;
}

.mobile-menu .main-menu li {
  width: 100%;
}

.mobile-menu .main-menu li a {
  text-align: center;
  color: var(--blue-btn);
  font-weight: 700;
  display: block;
  padding: 10px 0;
}

.mobile-menu .sub-menu {
  background-color: #fff;
  width: 100%;
}

.mobile-menu .sub-menu li {
  width: 100%;
}

.mobile-menu .sub-menu li a {
  text-align: center;
  display: block;
  padding: 10px 0;
}

.mobile-menu .sub-menu .drop-down {
  position: relative;
}

.mobile-menu .sub-menu .drop-down .fa-chevron-down {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 15px;
  transition: 0.3s;
}

.mobile-menu .sub-menu .drop-down.active .fa-chevron-down {
  transform: rotate(180deg);
}

.mobile-menu .sub-menu .drop-down>ul {
  display: none;
  background-color: rgb(235, 235, 235);
}

.mobile-menu .sub-menu .drop-down h5 {
  text-align: center;
}



/* footer */
footer {
  background-color: #d4d8dd;
}

footer .container > div:first-child {
  border-bottom: 1px solid #fff;
}

footer .logo img {
  height: 25px;
}

footer nav ul {
  text-align: right;
}

footer nav ul li {
  display: inline-block;
  font-size: 14px;
}

footer nav ul li a {
  padding: 0 10px;
  position: relative;
}

footer nav ul li a:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #000;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

footer nav ul li:last-child a:after {
  display: none;
}

footer .copy-right {
  text-align: right;
}

footer .copy-right p {
  font-size: 14px;
  margin: 0;
  display: inline-block;
}

footer .copy-right p.copyright-mobile {
  display: none;
}

footer .copy-right img {
  width: 52px;
  margin-left: 5px;
}

/* main */
main {
  margin-top: 110px;
  padding-bottom: 145px;
}

/* breadcrumb */
.breadcrumb {
  margin: 35px 0 25px;
}

.breadcrumb-item a {
  color: var(--gray-text-btn);
}

.breadcrumb-item.active {
  color: var(--gray-text-btn);
}

/* pagination */
.pagi-box {
  margin: 70px auto;
}

.pagination {
  justify-content: center;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child .page-link {
  border-radius: 0;
}

.page-link {
  color: var(--title-color);
  border-color: #efefef;
}

.page-link.active {
  background-color: var(--blue-btn);
  border-color: var(--blue-btn);
  color: #fff;
}

.page-link:hover {
  background-color: #fff;
  color: var(--title-color);
}

.page-link.active:hover {
  background-color: var(--blue-btn);
  border-color: var(--blue-btn);
  color: #fff;
}

/* button */
.main-btn {
  border-radius: 8px;
  display: block;
  margin: 30px auto 100px;
  color: #fff;
}

.main-btn a {
  border-radius: 8px;
  display: block;
  padding: 10px 50px;
  color: #fff;
}

.mobile-main-btn {
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  color: #fff;
}

.mobile-main-btn a {
  border-radius: 8px;
  display: block;
  padding: 10px 20px;
  color: #fff;
}

.main-btn.nolink {
  padding: 10px 50px;
}

button.blue-bg {
  background-color: var(--blue-btn);
}

button.gray-border {
  color: #9f9f9f;
  border: 2px solid #ccc;
  background-color: transparent;
}

button.yellow-bg {
  color: #fff;
  border: 2px solid #F2A346;
  background-color: #F2A346;
}

/* popup */
.main-popup .modal-dialog {
  margin: 5rem auto 0;
}

.main-popup .modal-header {
  background-color: #F5F5F5;
  padding: 15px;
  border: 0;
  position: relative;
}

.main-popup .modal-header h5 {
  text-align: center;
  color: var(--blue-btn);
  font-weight: 700;
  width: 100%;
}

.main-popup .modal-header .close-btn {
  /* font-size: 35px; */
  width: 35px;
  color: #F2A248;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.main-popup .modal-body {
  padding: 40px 45px 0;
}

.main-popup .modal-body p.content-title {
  text-align: center;
  margin-bottom: 35px;
  font-weight: 700;
}

.main-popup.clearEntrust .modal-body .content {
  padding: 40px 0 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.main-popup.clearEntrust .modal-body .content ul {
  margin: 0 auto;
  padding: 0;
}

.main-popup.clearEntrust .modal-body .content ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-popup.clearEntrust .modal-body .content ul li span {
  width: 50%;
}

.main-popup.clearEntrust .modal-body .content ul li span:first-child {
  color: #9a9a9a;
  text-align: right;
}

.main-popup.clearEntrust .modal-body .content ul li span:nth-child(2) {
  color: #F1A348;
}

.main-popup.cash .modal-body .content {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-popup.cash .modal-body .content>div {
  width: 30%;
  border-radius: 10px;
  background-color: #F5F5F5;
  padding: 30px 0;
  cursor: pointer;
}

.main-popup.cash .modal-body .content>div img {
  width: 50%;
  display: block;
  margin: 0 auto 20px;
}

.main-popup.cash .modal-body .content>div p {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
}

.main-popup.apply .modal-body {
  text-align: center;
}

.main-popup .modal-footer {
  border: 0;
  text-align: center;
  padding: 30px 0;
  justify-content: center;
}

.main-popup .modal-footer button {
  width: 250px;
  padding: 10px 0;
  border-radius: 10px;
  margin: 0 10px;
  outline: none !important;
}

/* mask */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 300;
  display: none;
}

.mask.open {
  display: block;
}

.mask .mask-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mask .mask-content .dot {
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.mask .mask-content .dot1 {
  animation-name: mask1;
}

.mask .mask-content .dot2 {
  animation-name: mask2;
}

.mask .mask-content .dot3 {
  animation-name: mask3;
}

@keyframes mask1 {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mask2 {
  0% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mask3 {
  0% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  66.6666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* RWD-pad */
@media screen and (max-width:800px) {
  .modal-dialog {
    width: 90%;
  }
}

/* RWD-phone */
@media screen and (max-width:767px) {
  .main-header {
    height: 60px;
  }
  .main-header .container > div {
    justify-content: start;
  }
  .main-header .logo img {
    height: 25px;
    margin-left: 10px;
  }
  .main-header .search {
    display: none;
  }
  .main-header nav.main-nav {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  
  nav.sub-header > div > ul {
    padding: 10px 0;
  }
  nav.sub-header > div > ul > li {
    border-left: 2px solid #000;
  }
  nav.sub-header > div > ul > li:first-child {
    border-left: 0;
  }
  .main-popup.clearEntrust .modal-footer {
    padding: 30px 45px;
    justify-content: space-between;
  }
  .main-popup.clearEntrust .modal-footer button {
    width: 48%;
    margin: 0;
  }
  .main-popup.cash .modal-body .content {
    width: 90%;
  }
  footer .logo {
    display: block;
    margin: 0 auto;
  }
  footer nav {
    margin-top: 30px;
  }
  footer nav ul {
    text-align: center;
  }
  footer nav ul li {
    width: 100%;
    margin-bottom: 8px;
    padding: 0 10px;
  }
  footer nav ul li a {
    padding: 0;
  }
  footer nav ul li a:after {
    display: none;
  }
  footer .container > div:first-child {
    border: 0;
  }
  footer .copy-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .copy-right p.copyright-web {
    display: none;
  }
  footer .copy-right p.copyright-mobile {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  .main-popup .modal-body {
    padding: 40px 20px 0;
  }
  .main-popup .modal-footer {
    padding: 30px 20px;
  }
  .breadcrumb li {
    font-size: 13px;
  }
  .breadcrumb li a {
    font-size: 14px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item {
    padding-left: 3px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 3px;
  }
}

@media screen and (max-width: 400px) {
  .main-popup.cash .modal-body .content>div {
    width: 100%;
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
  }
  
}

